@import "../../assets/css/Shared.scss";
$top-height: 1%;


nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
  background-color: $primary-color;
  height: 66px;
  line-height: 64px;
  @media only screen and (min-width: 601px) {
    height: 96px;
    line-height: 96px;
  }
}


nav .brand-logo{
  left: 1%;
  top: $top-height;
  @media only screen and (max-width: 992px) {
    -webkit-transform: inherit;
    transform: inherit;
  }
}
